/* Reset StyleSheet*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body 
{
    line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section 
{
    display: block;
}
nav ul 
{
    list-style: none;
}
blockquote,
q 
{
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after 
{
    content: '';
    content: none;
}
a 
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
/* change colours to suit your needs */
ins 
{
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */
mark 
{
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del 
{
    text-decoration: line-through;
}
abbr[title],
dfn[title] 
{
    border-bottom: 1px dotted;
    cursor: help;
}
table 
{
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */
hr 
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
}
input,
select 
{
    vertical-align: middle;
}
/* Reset StyleSheet*/















/* My StyleSheet */
/* Variables */
:root
{
    --page-color: #f4f4f4;
    --page-title-font: 'Open Sans', sans-serif;
    --page-text-font: 'Open Sans', sans-serif;
    --page-text-size: 18px;
    --page-text-color: #1e1e1e;
    --page-width: 100%;
    --page-img-width: 50%;
    --page-title: 40px;
    --page-sub-title: 14px;
    --sidebar-selected: rgb(161, 161, 161);
    --page-color-hover: rgb(122, 122, 122);
    --banner-color: #e6e6e6;
    --banner-color-select: #afafafaf;
    --section-article-games: #DCD0C0;
    --section-article-blog: #7A8877;
    --section-article-unity: #008eb9;
}
/* Standard */
* 
{
    margin: 0;
    padding: 0;
    font-family: var(--page-text-font);
}
body
{
    background-color: var(--page-color);
    height: max-content;
}
a
{
    text-decoration: none;
    color: var(--page-text-color);
}
button
{
    border: none;
}
section
{
    max-width: 100%;
}
article
{
    max-width: 100%;
}
.youtube
{
    aspect-ratio: 16/9;
    width: var(--page-width);
}
.hr
{
    width: var(--page-img-width);
}
nav .wrapper
{
    margin-left: 20%;
}
/* Standard */





/* Main */
main
{
    padding: 0;
    padding-top: 120px;
    padding-bottom: 50px;
    font-family: var(--page-text-font);
    margin: 0;
    min-width: 250px;
    margin-left: 10%;
}
.logo-text
{
    margin-top: 38px;
    margin-left: 10px;
    float:left;
    font-family: var(--page-text-font);
    font-size: 16px;
}
.page-title
{
    font-size: var(--page-title);
    float: inline-start;
    padding-bottom: 10px;
}
.page-sub-title
{
    font-size: var(--page-sub-title);
    padding-top: 5px;
}
@media only screen and (max-width: 340px)
{
    nav .wrapper
    {
        margin-left: 10%;
    }
}
@media only screen and (min-width: 600px)
{
    main
    {
        margin-right: 10%;
        padding-bottom: 50px;
        padding-right: 10%;
        padding-left: 10%;
    }
    .logo-text
    {
        margin-top: 30px;
        margin-left: 10px;
        float:left;
        font-family: var(--page-text-font);
        font-size: 32px;
    }
    
}
@media only screen and (min-width: 800px)
{
    main
    {
        margin-right: 10%;
        padding-bottom: 50px;
        padding-right: 0%;
    }

    .logo-text
    {
        margin-top: 30px;
        margin-left: 10px;
        float:left;
        font-family: var(--page-text-font);
        font-size: 32px;
    }
}
/* Main */





/* Header */
header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--banner-color);
    width: 100%;
    height: 100px;
}
.logo-img
{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    float:left;
}
/* Header */





/* Navigation */

.dropdown-button
{
    background-color: var(--banner-color);
    color: var(--text-color);
    font-size: 24px;
    padding: 10px;
    height: 100px;
    border: none;
    cursor: pointer;
}
.dropdown-button :hover
{
    background-color: var(--banner-color-select);
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown :last-child
{
    border-radius: 0px 0px 0px 20px;
}
.dropdown-content
{
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--page-color);
    min-width:100px;
    box-shadow: 0px 8px 16px 0px var(--banner-color);
    z-index: 1;
    text-align: center;
}
.menu-button :last-child
{
    border-radius: 0px 0px 0px 20px;
}
.menu-button 
{
    width: 100%;
    text-align: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color: var(--page-color);
}
.menu-button:hover 
{
    background-color: var(--banner-color);
}
.dropdown:hover .dropdown-content
{
    display: block;
}
.dropdown:hover .dropbtn
{
    background-color: var(--banner-color);
}
/* Navigation */





/* Sidebar */
.sidebar-open-button
{
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    margin-top: 100px;
    border: none;
    float: left;
}
.sidebar-open-button:hover 
{
    background-color: #444;
}
.sidebar-close-button
{
    position: absolute;
    top:0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
.sidebar-close-button:hover 
{
    background-color: #444;
}
.sidebar
{
    bottom: 5.5%;
    position: fixed;
    max-width: max-c;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: var(--page-color);
    border-right: 1px solid #000;
}
.sidebar-button
{
    border: none;
}
.sidebar-top
{
    margin-top: -12px;
    border-bottom: 1px solid black;
}
.sidebar-title
{
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
    background-color: var(--page-color);
}
.sidebar-top :hover
{
    background: var(--sidebar-selected);
}
.level1 .sidebar-list
{
    text-indent: 0px;
}
.level2 .sidebar-list
{
    text-indent: 10px;
}
.level3 .sidebar-list
{
    text-indent: 20px;
}
.level3 .sidebar-list :target
{
    list-style: none;
    line-height: 20px;
    background: var(--sidebar-selected);
}
.sidebar label{
    display: block;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #fff;
    border-bottom: none;
    font-size: 16px;
}
.sidebar label:hover{
    background: var(--sidebar-selected);
}
.sidebar label.last{
    border-bottom: 1px solid #fff;
}
.sidebar input[type="checkbox"]{
    position: absolute;
    left: -9999px;
}
.sidebar input[type="checkbox"] ~ ul{
    height: 0;
    transform: scaleY(0);
}
.sidebar input[type="checkbox"]:checked ~ ul{
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1); 
}
.sidebar input[type="checkbox"]:checked + label
{
    background: var(--sidebar-selected);
    border-bottom: 1px solid #fff;
}
 input[type="checkbox"]:checked ~ ul{
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1); 
}
 input[type="checkbox"]:checked + label
{
    background: var(--sidebar-selected);
    border-bottom: 1px solid #fff;
}
/* Sidebar */





/* Footer */
footer
{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--banner-color);
    color: var(--page-text-color);
    text-align: center;
    vertical-align:middle;
    font-family: var(--page-text-font);
    display: inline-block;
}
.footer-copyright
{
    margin-right: 5%;
    margin-top: -15px;
    font-size: 14px;
    text-align: right;
}
.footer-sitemap
{
    text-decoration: none;
    color: var(--page-text-color);
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
}
/* Footer */





/* Section Box */
.section
{
    width: fit-content;
    max-width: 280px;
    height: fit-content;
    
}
@media only screen and (min-width: 600px)
{
    .section
    {
        margin-right: 10px;
        max-width: none;
    }
}
@media only screen and (min-width: 800px)
{
    .section
    {
        margin-right: 20px;
        float:left;
    }
}
.section-article
{
    font-size: var(--page-text-size);
    min-height: 300px;
    width: 480px;
    background-color: var(--banner-color);
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.section :hover
{
    background-color: var(--banner-color-select);
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.section-img 
{
    float: left;
    width: 100%;
    max-width: 260px;
    pointer-events:none;
}
@media only screen and (min-width: 600px)
{
    .section-img 
    {
        padding: 10px;
    }
}
.section-description
{
    font-size: 18px;
    display: flex;
    pointer-events:none;
    padding-left: 10px;
}
.section-footer
{
    font-size: 14px;
    display: flex;
    pointer-events:none;
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
}
@media only screen and (max-width: 600px)
{
    .section-footer
    {
        margin-top: 15px;
    }
}
.section-title
{
    white-space: nowrap;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
    margin-bottom: 6px;
    margin-top: 270px;
    pointer-events:none;
    font-weight: bold;
    border-radius: 0px 20px 0px 0px;
}

@media only screen and (min-width: 600px)
{
    .section-title
    {
        white-space: nowrap;
        text-align: center;
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 4px;
        border-bottom: 1px solid black;
        margin-left: 270px;
        margin-bottom: 6px;
        font-weight: bold;
        margin-top: 0px;
    }
}
.section-date
{
    margin-bottom: 5px;
    margin-left: 110px;
    font-size: 18px;
    display: inline-block;
    text-align: right;
}
.Games
{
    background-color: var(--section-article-games);
}
.Blog
{
    background-color: var(--section-article-blog);
}
.Unity
{
    background-color: var(--section-article-unity);
}
/* Section Box */





/* Articles */
.article
{
    align-self:center;
    width: var(--page-width);
    max-width: 1000px;
    font-size: 14px;
    font-family: var(--page-text-font);
    color: var(--page-text-color);
}
.article-title
{
    font-size: var(--page-title);
    float: inline-start;
    padding-bottom: 10px;
}
.article-sub-title
{
    font-size: var(--page-sub-title);
    padding-top: 5px;
}
.article-date
{
    font-size: 12px;
}
.article-description
{
    align-self:center;
    font-size: 18px;
}
.article-list
{
    align-self:center;
    font-size: 14px;
}
.article-img
{
    width:  var(--page-img-width);
    height:  100%;
}

.article-img-description
{
    width:  var(--page-img-width);
    height:  100%;
    align-self: center;
}
.article-date-footer
{
    font-size: 12px;
    float: right;
}
.article-footer
{
    font-size: 12px;
    float: left;
}
.article-credit
{
    margin: 5px;
    text-indent: 10px;
    list-style-type: none;
}

/* Articles */





/* Sidebar Blog Main */
.label-month
{
    border-bottom: 1px solid var(--page-text-color);
}
.label-select li
{
    text-indent: 15px;
    list-style-type: none;
    margin-top: 10px;
}
.label-select li a label
{
    background-color: var(--banner-color);
    border-radius: 10px;
}
.label-select li a label:hover
{
    background-color: var(--banner-color-select);
    border-radius: 10px;
}
/* Sidebar Blog Main */