<div class="wrapper">
    <h1 class="article-title">Month: June</h1>
    <p class="blog-date" id="september-2021">list of all blog entries created the Month of June/{Year}.</p>
    <hr />
    <article class="article">
        
        <div class="section-article-description">
            <p>
                <p>
                    <label class="label-month">1<sup>st</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">2<sup>nd</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">3<sup>rd</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">4<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">5<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">6<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">7<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">8<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">9<sup>th</sup></label>
                </p>
                <br />
                    <label class="label-month">10<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">11<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">12<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">13<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">14<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">15<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">16<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">17<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">18<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">19<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">20<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">21<sup>st</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">22<sup>nd</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">23<sup>rd</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">24<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">25<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">26<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">27<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">28<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">29<sup>th</sup></label>
                </p>
                <br />
                <p>
                    <label class="label-month">30<sup>th</sup></label>
                </p>
                <br />
            </p>
        </div>
        
    </article>
</div>
<!--
<ul class="label-select">
    <li>
        <a>
            <label onclick="ChangeMain('/Blog/{Year}/{Month}/Article/Website_Created.html') & SidebarSelect(['{Year}' , '{Year}:{Month}', '{Year}:{Month}:{iterate}'])">• Website Created. 17<sup>th</sup> </label>
        </a>
    </li>
</ul>
-->