<div class="wrapper">
    <h1 class="article-title">Year: {Year}</h1>
    <p class="blog-date" id="september-2021">list of all blog entries created the Year {Year}.</p>
    <hr />
    <article class="article">
        <div class="section-article-description">
            <p>
                <label class="label-month">January</label>
            </p>
            <br />
            <p>
                <label class="label-month">February</label>
            </p>
            <br />
            <p>
                <label class="label-month">March</label>
            </p>
            <br />
            <p>
                <label class="label-month">April</label>
            </p>
            <br />
            <p>
                <label class="label-month">May</label>
            </p>
            <br />
            <p>
                <label class="label-month">June</label>
            </p>
            <br />
            <p>
                <label class="label-month">July</label>
            </p>
            <br />
            <p>
                <label class="label-month">August</label>
            </p>
            <br />
            <p>
                <label class="label-month">September</label>
            </p>
            <br />
                <label class="label-month">October</label>
            </p>
            <br />
            <p>
                <label class="label-month">November</label>
            </p>
            <br />
            <p>
                <label class="label-month">December</label>
            </p>
        </div>
        
    </article>
</div>

<!--
<ul class="label-select">
    <li>
        <a>
            <label onclick="ChangeMain('/Blog/{Year}/{Month}/Article/Website_Created.html') & SidebarSelect(['{Year}' , '{Year}:{Month}', '{Year}:{Month}:{iterate}'])">• Website Created. 17<sup>th</sup> </label>
        </a>
    </li>
</ul>
-->